schema/GlideinTypes.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema targetNamespace="http://www.usc.edu/glidein/GlideinTypes"
	xmlns:glidein="http://www.usc.edu/glidein/GlideinTypes"
	xmlns:xsd="http://www.w3.org/2001/XMLSchema"
	elementFormDefault="qualified" blockDefault="#all">
	
	<xsd:complexType name="EmptyObject"/>
	
	<xsd:complexType name="EnvironmentVariable">
		<xsd:sequence>
			<xsd:element name="variable" type="xsd:string"/>
			<xsd:element name="value" type="xsd:string"/>
		</xsd:sequence>
	</xsd:complexType>
	
	<xsd:simpleType name="ServiceType">
		<xsd:restriction base="xsd:string">
			<xsd:enumeration value="GT2"/>
			<xsd:enumeration value="GT4"/>
		</xsd:restriction>
	</xsd:simpleType>
				
	<xsd:complexType name="ExecutionService">
		<xsd:sequence>
			<xsd:element name="serviceContact" type="xsd:string"/>
			<xsd:element name="serviceType" type="glidein:ServiceType"/>
			<xsd:element name="project" type="xsd:string" nillable="true"/>
			<xsd:element name="queue" type="xsd:string" nillable="true"/>
			<xsd:element name="proxy" type="xsd:string"/>
		</xsd:sequence>
	</xsd:complexType>
	
	<xsd:simpleType name="SiteStatusCode">
		<xsd:restriction base="xsd:string">
			<xsd:enumeration value="NEW"/>
			<xsd:enumeration value="STAGING"/>
			<xsd:enumeration value="READY"/>
			<xsd:enumeration value="STOPPING"/>
			<xsd:enumeration value="CLEANING"/>
			<xsd:enumeration value="CLEANED"/>
			<xsd:enumeration value="FAILED"/>
		</xsd:restriction>
	</xsd:simpleType>
	
	<xsd:complexType name="SiteStatus">
		<xsd:sequence>
			<xsd:element name="code" type="glidein:SiteStatusCode" default="NEW"/>
			<xsd:element name="message" type="xsd:string" nillable="true"/>
		</xsd:sequence>
	</xsd:complexType>
	
	<xsd:complexType name="Site">
		<xsd:sequence>
			<xsd:element name="id" type="xsd:int" default="-1"/>
			<xsd:element name="name" type="xsd:string"/>
			<xsd:element name="installPath" type="xsd:string"/>
			<xsd:element name="localPath" type="xsd:string"/>
			<xsd:element name="submitPath" type="xsd:string" nillable="true"/>
			<xsd:element name="stagingService" type="glidein:ExecutionService"/>
			<xsd:element name="glideinService" type="glidein:ExecutionService"/>
			<xsd:choice>
				<xsd:element name="condorVersion" type="xsd:string" nillable="true"/>
				<xsd:element name="condorPackage" type="xsd:string" nillable="true"/>
			</xsd:choice>
			<xsd:element name="environment" type="glidein:EnvironmentVariable" 
				minOccurs="0" maxOccurs="0" nillable="true"/>
		</xsd:sequence>
	</xsd:complexType>
	
	<xsd:simpleType name="GlideinStatusCode">
		<xsd:restriction base="xsd:string">
			<xsd:enumeration value="NEW"/>
			<xsd:enumeration value="SUBMITTED"/>
			<xsd:enumeration value="RUNNING"/>
			<xsd:enumeration value="TERMINATED"/>
			<xsd:enumeration value="CANCELLED"/>
			<xsd:enumeration value="FAILED"/>
		</xsd:restriction>
	</xsd:simpleType>
	
	<xsd:complexType name="GlideinStatus">
		<xsd:sequence>
			<xsd:element name="code" type="glidein:GlideinStatusCode" default="PENDING"/>
			<xsd:element name="message" type="xsd:string" nillable="true"/>
		</xsd:sequence>
	</xsd:complexType>
	
	<xsd:complexType name="Glidein">
		<xsd:sequence>
			<xsd:element name="id" type="xsd:int" default="-1"/>
			<xsd:element name="siteId" type="xsd:int" default="-1"/>
			<xsd:element name="siteName" type="xsd:string"/>
			<xsd:element name="condorHost" type="xsd:string"/>
			<xsd:element name="count" type="xsd:int" default="0"/>
			<xsd:element name="hostCount" type="xsd:int"/>
			<xsd:element name="wallTime" type="xsd:int"/>
			<xsd:element name="numCpus" type="xsd:int" default="0"/>
			<xsd:element name="configBase64" type="xsd:string" nillable="true"/>
			<xsd:element name="environment" type="glidein:EnvironmentVariable" 
				minOccurs="0" maxOccurs="0" nillable="true"/>
			<xsd:element name="gcbBroker" type="xsd:string" nillable="true"/>
			<xsd:element name="idleTime" type="xsd:int" default="0"/>
			<xsd:element name="debug" type="xsd:string" nillable="true"/>
		</xsd:sequence>
	</xsd:complexType>
	
</xsd:schema>