schema/GlideinService.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<definitions name="GlideinService"
	targetNamespace="http://www.usc.edu/glidein/GlideinService"
	xmlns="http://schemas.xmlsoap.org/wsdl/"
	xmlns:tns="http://www.usc.edu/glidein/GlideinService"
	xmlns:glidein="http://www.usc.edu/glidein/GlideinTypes"
	xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
	xmlns:wsrp="http://docs.oasis-open.org/wsrf/rp-2"
	xmlns:wsrpw="http://docs.oasis-open.org/wsrf/rpw-2"
	xmlns:wsdlpp="http://www.globus.org/namespaces/2004/10/WSDLPreprocessor"
	xmlns:xsd="http://www.w3.org/2001/XMLSchema"
	xmlns:wsa="http://www.w3.org/2005/08/addressing"
	xmlns:wsntw="http://docs.oasis-open.org/wsn/bw-2">
	
	<wsdl:import namespace="http://docs.oasis-open.org/wsn/bw-2"
		location="../wsrf/notification/bw-2.wsdl" />
	
	<wsdl:import namespace="http://docs.oasis-open.org/wsrf/rpw-2"
        location="../wsrf/properties/rpw-2.wsdl" />
	
	<!--============================================================
								TYPES
	=============================================================-->
	<types>
		<xsd:schema targetNamespace="http://www.usc.edu/glidein/GlideinService"
			xmlns:tns="http://www.usc.edu/glidein/GlideinService"
			xmlns:xsd="http://www.w3.org/2001/XMLSchema">
			
			<xsd:import
				namespace="http://www.w3.org/2005/08/addressing"
				schemaLocation="../ws/addressing/ws-addr.xsd" />
				
			<xsd:import
				namespace="http://www.usc.edu/glidein/GlideinTypes"
				schemaLocation="GlideinTypes.xsd" />
			
			<xsd:element name="removeRequest" type="xsd:boolean" default="false"/>
			<xsd:element name="removeResponse" type="glidein:EmptyObject"/>
			
			<xsd:element name="submitRequest" type="wsa:EndpointReferenceType"/>
			<xsd:element name="submitResponse" type="glidein:EmptyObject"/>
			
			<xsd:element name="getGlideinRequest" type="glidein:EmptyObject"/>
			<xsd:element name="getGlideinResponse" type="glidein:Glidein"/>
		</xsd:schema>
	</types>
	
	<!--============================================================
							MESSAGES
	============================================================-->
	<message name="removeInputMessage">
		<part name="force" element="tns:removeRequest"/>
	</message>
	<message name="removeOutputMessage">
		<part name="response" element="tns:removeResponse"/>
	</message>
	
	<message name="submitInputMessage">
		<part name="credential" element="tns:submitRequest"/>
	</message>
	<message name="submitOutputMessage">
		<part name="response" element="tns:submitResponse"/>
	</message>
	
	<message name="getGlideinInputMessage">
		<part name="request" element="tns:getGlideinRequest"/>
	</message>
	<message name="getGlideinOutputMessage">
		<part name="response" element="tns:getGlideinResponse"/>
	</message>
	
	<!--============================================================
							PORT TYPE
	============================================================-->
	<portType name="GlideinPortType"
		wsdlpp:extends="wsrpw:GetResourceProperty wsntw:NotificationProducer"
		wsrp:ResourceProperties="tns:GlideinResourceProperties">
		 
		<operation name="getGlidein">
			<input message="tns:getGlideinInputMessage"/>
			<output message="tns:getGlideinOutputMessage"/>
		</operation>
		
		<operation name="submit">
			<input message="tns:submitInputMessage"/>
			<output message="tns:submitOutputMessage"/>
		</operation>
		
		<operation name="remove">
			<input message="tns:removeInputMessage"/>
			<output message="tns:removeOutputMessage"/>
		</operation>
	</portType>

</definitions>