schema/GlideinFactoryService.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<definitions name="GlideinFactoryService"
	targetNamespace="http://www.usc.edu/glidein/GlideinFactoryService"
	xmlns="http://schemas.xmlsoap.org/wsdl/"
	xmlns:tns="http://www.usc.edu/glidein/GlideinFactoryService"
	xmlns:glidein="http://www.usc.edu/glidein/GlideinTypes"
	xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/03/addressing"
	xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
	xmlns:xsd="http://www.w3.org/2001/XMLSchema">

	<!--============================================================
								TYPES
	============================================================-->
	<types>
		<xsd:schema 
			targetNamespace="http://www.usc.edu/glidein/GlideinFactoryService"
			xmlns:tns="http://www.usc.edu/glidein/GlideinFactoryService"
			xmlns:xsd="http://www.w3.org/2001/XMLSchema">
			
			<xsd:import
				namespace="http://schemas.xmlsoap.org/ws/2004/03/addressing"
				schemaLocation="../ws/addressing/WS-Addressing.xsd" />
			
			<xsd:import
				namespace="http://www.usc.edu/glidein/GlideinTypes"
				schemaLocation="GlideinTypes.xsd" />
			
		</xsd:schema>
	</types>
	
	<!--============================================================
							MESSAGES
	============================================================-->
	
	<message name="createGlideinRequestMessage">
		<part name="glidein" type="glidein:Glidein"/>
	</message>
	<message name="createGlideinResponseMessage">
		<part name="endpoint" type="wsa:EndpointReferenceType"/>
	</message>
	
	<message name="listGlideinsRequestMessage">
		<part name="longFormat" type="xsd:boolean"/>
	</message>
	<message name="listGlideinsResponseMessage">
		<part name="glideins" type="glidein:Glideins"/>
	</message>
	
	<message name="getHistoryInputMessage">
		<part name="ids" type="glidein:Identifiers"/>
	</message>
	<message name="getHistoryOutputMessage">
		<part name="history" type="glidein:GlideinHistory"/>
	</message>
	
	<!--============================================================
							PORT TYPE
	============================================================-->

	<portType name="GlideinFactoryPortType">
	
		<operation name="create">
			<input message="tns:createGlideinRequestMessage"/>
			<output message="tns:createGlideinResponseMessage"/>
		</operation>
		
		<operation name="listGlideins">
			<input message="tns:listGlideinsRequestMessage"/>
			<output message="tns:listGlideinsResponseMessage"/>
		</operation>
		
		<operation name="getHistory">
			<input message="tns:getHistoryInputMessage"/>
			<output message="tns:getHistoryOutputMessage"/>
		</operation>
		
	</portType>
	
</definitions>