schema/SiteService.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<definitions name="SiteService"
	targetNamespace="http://www.usc.edu/glidein/SiteService"
	xmlns="http://schemas.xmlsoap.org/wsdl/"
	xmlns:tns="http://www.usc.edu/glidein/SiteService"
	xmlns:glidein="http://www.usc.edu/glidein/GlideinTypes"
	xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
	xmlns:wsrp="http://docs.oasis-open.org/wsrf/2004/06/wsrf-WS-ResourceProperties-1.2-draft-01.wsdl"
	xmlns:wsrpw="http://docs.oasis-open.org/wsrf/2004/06/wsrf-WS-ResourceProperties-1.2-draft-01.wsdl"
	xmlns:wsdlpp="http://www.globus.org/namespaces/2004/10/WSDLPreprocessor"
	xmlns:xsd="http://www.w3.org/2001/XMLSchema"
	xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/03/addressing"
	xmlns:wsntw="http://docs.oasis-open.org/wsn/2004/06/wsn-WS-BaseNotification-1.2-draft-01.wsdl">
	
	<wsdl:import namespace="http://docs.oasis-open.org/wsrf/2004/06/wsrf-WS-ResourceProperties-1.2-draft-01.wsdl"
		location="../wsrf/properties/WS-ResourceProperties.wsdl" />
		
	<wsdl:import namespace="http://docs.oasis-open.org/wsn/2004/06/wsn-WS-BaseNotification-1.2-draft-01.wsdl"
		location="../wsrf/notification/WS-BaseN.wsdl" />
		
	<!--============================================================
								TYPES
	=============================================================-->
	<types>
		<xsd:schema targetNamespace="http://www.usc.edu/glidein/SiteService"
			xmlns:tns="http://www.usc.edu/glidein/SiteService"
			xmlns:xsd="http://www.w3.org/2001/XMLSchema">
			
			<xsd:import
				namespace="http://schemas.xmlsoap.org/ws/2004/03/addressing"
				schemaLocation="../ws/addressing/WS-Addressing.xsd" />
				
			<xsd:import
				namespace="http://www.usc.edu/glidein/GlideinTypes"
				schemaLocation="GlideinTypes.xsd" />
			
			<xsd:element name="submitRequest" type="wsa:EndpointReferenceType"/>
			<xsd:element name="submitResponse" type="glidein:EmptyObject"/>
			
			<xsd:element name="removeRequest">
				<xsd:complexType name="RemoveSiteRequest">
					<xsd:sequence>
						<xsd:element name="force" type="xsd:boolean" default="false"/>
						<xsd:element name="credential" type="wsa:EndpointReferenceType"/>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="removeResponse" type="glidein:EmptyObject"/>
			
			<xsd:element name="getSiteRequest" type="glidein:EmptyObject"/>
			<xsd:element name="getSiteResponse" type="glidein:Site"/>
			
		</xsd:schema>
	</types>
	
	<!--============================================================
							MESSAGES
	============================================================-->
	
	<message name="getSiteInputMessage">
		<part name="request" element="tns:getSiteRequest"/>
	</message>
	<message name="getSiteOutputMessage">
		<part name="response" element="tns:getSiteResponse"/>
	</message>
	
	<message name="removeInputMessage">
		<part name="force" element="tns:removeRequest"/>
	</message>
	<message name="removeOutputMessage">
		<part name="response" element="tns:removeResponse"/>
	</message>
	
	<message name="submitInputMessage">
		<part name="credential" element="tns:submitRequest"/>
	</message>
	<message name="submitOutputMessage">
		<part name="response" element="tns:submitResponse"/>
	</message>
	 
	<!--============================================================
							PORT TYPE
	============================================================-->
	<portType name="SitePortType"
		wsdlpp:extends="wsrpw:GetResourceProperty wsntw:NotificationProducer"
		wsrp:ResourceProperties="tns:SiteResourceProperties">
		 
		<operation name="getSite">
			<input message="tns:getSiteInputMessage"/>
			<output message="tns:getSiteOutputMessage"/>
		</operation>
		
		<operation name="remove">
			<input message="tns:removeInputMessage"/>
			<output message="tns:removeOutputMessage"/>
		</operation>
		
		<operation name="submit">
			<input message="tns:submitInputMessage"/>
			<output message="tns:submitOutputMessage"/>
		</operation>
	</portType>

</definitions>