service/schema/PoolService.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<definitions name="PoolService"
	targetNamespace="http://www.usc.edu/glidein/PoolService"
	xmlns="http://schemas.xmlsoap.org/wsdl/"
	xmlns:tns="http://www.usc.edu/glidein/PoolService"
	xmlns:pool="http://www.usc.edu/glidein/PoolTypes"
	xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
	xmlns:wsrp="http://docs.oasis-open.org/wsrf/2004/06/wsrf-WS-ResourceProperties-1.2-draft-01.wsdl"
	xmlns:wsrpw="http://docs.oasis-open.org/wsrf/2004/06/wsrf-WS-ResourceProperties-1.2-draft-01.wsdl"
	xmlns:wsdlpp="http://www.globus.org/namespaces/2004/10/WSDLPreprocessor"
	xmlns:xsd="http://www.w3.org/2001/XMLSchema">
	
	<wsdl:import namespace="http://docs.oasis-open.org/wsrf/2004/06/wsrf-WS-ResourceProperties-1.2-draft-01.wsdl"
		location="../wsrf/properties/WS-ResourceProperties.wsdl" />
		
	<!--============================================================
								TYPES
	=============================================================-->
	<types>
		<xsd:schema targetNamespace="http://www.usc.edu/glidein/PoolService"
			xmlns:tns="http://www.usc.edu/glidein/PoolService"
			xmlns:xsd="http://www.w3.org/2001/XMLSchema">
			
			<xsd:import
				namespace="http://www.usc.edu/glidein/PoolTypes"
				schemaLocation="PoolTypes.xsd" />
			
			<!-- Request and response types -->
			<xsd:element name="createSiteRequest">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="siteDescription" type="pool:SiteDescription"/>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="createSiteResponse">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="siteId" type="xsd:int"/>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			
			<xsd:element name="destroySiteRequest">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="siteName" type="xsd:string"/>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="destroySiteResponse">
				<xsd:complexType/>
			</xsd:element>
			
			<xsd:element name="createGlideinRequest">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="glideinDescription" type="pool:GlideinDescription"/>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="createGlideinResponse">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="glideinId" type="xsd:int"/>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			
			<xsd:element name="destroyGlideinRequest">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="siteName" type="xsd:string"/>
						<xsd:element name="glideinId" type="xsd:int"/>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="destroyGlideinResponse">
				<xsd:complexType/>
			</xsd:element>
			
			<xsd:element name="queryPoolRequest">
				<xsd:complexType/>
			</xsd:element>
			<xsd:element name="queryPoolResponse">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="pool" type="pool:PoolDescription"/>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			
			<xsd:element name="querySiteRequest">
				<xsd:complexType/>
			</xsd:element>
			<xsd:element name="querySiteResponse">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="sites" type="pool:SiteDescription" minOccurs="0" maxOccurs="unbounded"/>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			
			<xsd:element name="queryGlideinRequest">
				<xsd:complexType/>
			</xsd:element>
			<xsd:element name="queryGlideinResponse">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="glideins" type="pool:GlideinDescription" minOccurs="0" maxOccurs="unbounded"/>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			
		</xsd:schema>
	</types>
	
	<!--============================================================
							MESSAGES
	============================================================-->
	<message name="CreateSiteInputMessage">
		<part name="request" element="tns:createSiteRequest"/>
	</message>
	<message name="CreateSiteOutputMessage">
		<part name="response" element="tns:createSiteResponse"/>
	</message>
	
	<message name="DestroySiteInputMessage">
		<part name="request" element="tns:destroySiteRequest"/>
	</message>
	<message name="DestroySiteOutputMessage">
		<part name="response" element="tns:destroySiteResponse"/>
	</message>
	
	<message name="CreateGlideinInputMessage">
		<part name="request" element="tns:createGlideinRequest"/>
	</message>
	<message name="CreateGlideinOutputMessage">
		<part name="response" element="tns:createGlideinResponse"/>
	</message>
	
	<message name="DestroyGlideinInputMessage">
		<part name="request" element="tns:destroyGlideinRequest"/>
	</message>
	<message name="DestroyGlideinOutputMessage">
		<part name="response" element="tns:destroyGlideinResponse"/>
	</message>
	
	<message name="QueryPoolInputMessage">
		<part name="request" element="tns:queryPoolRequest"/>
	</message>
	<message name="QueryPoolOutputMessage">
		<part name="response" element="tns:queryPoolResponse"/>
	</message>
	
	<message name="QuerySiteInputMessage">
		<part name="request" element="tns:querySiteRequest"/>
	</message>
	<message name="QuerySiteOutputMessage">
		<part name="response" element="tns:querySiteResponse"/>
	</message>
	
	<message name="QueryGlideinInputMessage">
		<part name="request" element="tns:queryGlideinRequest"/>
	</message>
	<message name="QueryGlideinOutputMessage">
		<part name="response" element="tns:queryGlideinResponse"/>
	</message>
	
	<!--============================================================
							PORT TYPE
	============================================================-->
	<portType name="PoolPortType"
		wsdlpp:extends="wsrpw:GetResourceProperty"
		wsrp:ResourceProperties="tns:PoolResourceProperties">
		
		<operation name="createSite">
			<input message="tns:CreateSiteInputMessage"/>
			<output message="tns:CreateSiteOutputMessage"/>
		</operation>
		
		<operation name="destroySite">
			<input message="tns:DestroySiteInputMessage"/>
			<output message="tns:DestroySiteOutputMessage"/>
		</operation>
		
		<operation name="createGlidein">
			<input message="tns:CreateGlideinInputMessage"/>
			<output message="tns:CreateGlideinOutputMessage"/>
		</operation>
		
		<operation name="destroyGlidein">
			<input message="tns:DestroyGlideinInputMessage"/>
			<output message="tns:DestroyGlideinOutputMessage"/>
		</operation>
		
		<operation name="queryPool">
			<input message="tns:QueryPoolInputMessage"/>
			<output message="tns:QueryPoolOutputMessage"/>
		</operation>
		
		<operation name="querySite">
			<input message="tns:QuerySiteInputMessage"/>
			<output message="tns:QuerySiteOutputMessage"/>
		</operation>
		
		<operation name="queryGlidein">
			<input message="tns:QueryGlideinInputMessage"/>
			<output message="tns:QueryGlideinOutputMessage"/>
		</operation>
	</portType>

</definitions>